.App {
  background: linear-gradient(0deg, rgb(9, 17, 61), rgb(10, 122, 68));
  background-size: 100% 200%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: azure;
  animation: gradient 8s ease-in-out infinite alternate-reverse both;
}

@keyframes gradient {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.App-header h1 {
  background-color: inherit;
}

.App-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 97vh;
  color: azure;
}

.App-title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.App-footer{
  align-self: center;
}

.slide-out {
  transition: max-height 0.5s ease-out;
  max-height: 1000px;
}

.slide-out:active {
  max-height: 0;
}