@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: 'Colfax', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

@font-face {
  font-family: 'Colfax';
  src: url('./styles/fonts/Colfax-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Colfax';
  src: url('./styles/fonts/Colfax-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Colfax';
  src: url('./styles/fonts/Colfax-Bold.otf') format('opentype');
  font-weight: bold;
}

